{% extends 'frontend/base.html.twig' %}

{% block content %}
    <h1>Website homepage</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi iste iusto labore laboriosam quas saepe sint!
        A ad beatae consectetur cumque dolores ducimus eaque explicabo, fugit incidunt, officia, perferendis saepe?</p>

    <div class="row">
        <div class="col-sm-4">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consequatur culpa cum delectus distinctio
            ea eum, id in laborum maxime molestias numquam possimus repellendus, reprehenderit similique soluta tempore
            vero. Error!
        </div>
        <div class="col-sm-4">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consequatur culpa cum delectus distinctio
            ea eum, id in laborum maxime molestias numquam possimus repellendus, reprehenderit similique soluta tempore
            vero. Error!
        </div>
        <div class="col-sm-4">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consequatur culpa cum delectus distinctio
            ea eum, id in laborum maxime molestias numquam possimus repellendus, reprehenderit similique soluta tempore
            vero. Error!
        </div>
    </div>
{% endblock %}
